<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <mat-icon [icIcon]="icEdit" class="mr-3" matPrefix></mat-icon>
    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">País: {{ form.get('id').value }}</h2>
    <h2 *ngIf="!form.get('id').value" class="headline m-0" fxFlex="auto">Novo País</h2>

    <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field class="mt-6" fxFlex>
        <mat-label>Nome</mat-label>
        <input cdkFocusInitial formControlName="nmPais" matInput>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field class="mt-4" fxFlex>
        <mat-label>Sigla</mat-label>
        <input cdkFocusInitial formControlName="sgPais" matInput>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">CRIAR</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ATUALIZAR</button>
  </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>