.user {
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: var(--padding-4) var(--padding-4) var(--padding-4) var(--padding-12);
  position: relative;
  transition: var(--trans-ease-out);
  user-select: none;

  &:hover, &.active {
    background: var(--background-hover);
  }
}

.mat-icon {
  color: var(--color-primary-500);
}

.user-name {
  font: var(--font-body-1);
  font-weight: var(--font-weight-medium);
  line-height: 1.3;
  margin-inline-end: var(--padding-12);
}

.user-status {
  font-size: 11px;
  line-height: 1.3;
  text-align: end;
}

.user-image {
  background: var(--color-primary-50);
  border-radius: 99999999px;
  height: 36px;
  width: 36px;
}
